.carrito{
    margin: 0px 0px;
    padding-right: 15px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
}

.unidades{
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid var(--fondo);
    padding: 0px 8px;
    font-size: 1.2rem;
    background-color: var(--fondo);
    color: white;
}

.carrito:hover{
    color: var(--titulo);
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:760px){
    .carrito{
        margin: 0px 0px;
        padding-right: 15px;
        font-size: 1.5rem;
        cursor: pointer;
    }
}